[contenteditable]:empty:after,
.forcePlaceholder:after {
  content: attr(placeholder);
  color: rgba(74, 65, 65, 0.598);
}

.header {
  cursor: text;
  width: 100%;
  height: 100%;
}

.editable:focus {
  outline: 0;
}

.module-settings {
   width: 100%;
   background-color: yellow;
}
