<div class="page-container">
  <div class="module-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div formArrayName="modules">
        <div *ngFor="let module of modules.controls; let i = index">
          <app-module-container (keydown)="handleKeydown($event, i)" [formControlName]="i"></app-module-container>
        </div>
      </div>
    </form>
    <div class="buttons">
      <button mat-button (click)="newModule()">Add</button>
      <button mat-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
