$navbarOpenSize: 350px;
$navbarClosedSize: 83px;

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;

  font-family: tenon, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.pc-open-padding {
  padding-left: $navbarOpenSize;
  transition: .3s;
}

.pc-closed-padding {
  padding-left: $navbarClosedSize;
  transition: .3s;
}

.nav {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  transition: .3s;
  box-shadow: 13px 0 22px 0px rgba(0, 0, 0, 0.25);
}

.nav-open {
  width: $navbarOpenSize;
}

.nav-closed {
  width: $navbarClosedSize;
}

app-tabs {
  width: 100%;
}

.form {
  width: 100%;
}

.module-container {
  width: 600px;
  text-align: left;
  padding: 20px;
  margin: 40px;
}

.buttons {
  margin-top: 20px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  .tools {
    visibility: hidden;
  }
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  .tools {
    visibility: visible;
  }
}

.moduleElement {
  display:flex;
  .tools {
    display:flex;
    flex-direction: row;
  }
}

.moduleElement:hover .tools {
  visibility: visible;
}

.addButton .dragHandle {
  margin: 0px 0px 0px 5px;
}

.tools {
  visibility: hidden;
}

.module {
  width: 100%;
  padding-left: 10px;
}

// Settings portal

.settings-portal {
  width: 200px;
  height: 300px;
  border: solid 1px blue;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}
