.page-container {
  width: 100%;
  display: flex;
  justify-content: center;

  font-family: tenon, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.form {
  width: 100%;
}

.module-container {
  width: 600px;
  text-align: left;
  padding: 20px;
  margin: 40px;
}

.buttons {
  margin-top: 20px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  .tools {
    visibility: hidden;
  }
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  .tools {
    visibility: visible;
  }
}

.moduleElement {
  display:flex;
  .tools {
    display:flex;
    flex-direction: row;
  }
}

.moduleElement:hover .tools {
  visibility: visible;
}

.addButton .dragHandle {
  margin: 0px 0px 0px 5px;
}

.tools {
  visibility: hidden;
}

.module {
  width: 100%;
  padding-left: 10px;
}
