<div class="page-container">
  <div class="module-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="module-boundary">
      <div formArrayName="modules" cdkDropList (cdkDropListDropped)="drop($event)">
        <div
          class="moduleElement"
          *ngFor="let module of modules.controls; let i = index"
          cdkDrag
          cdkDragLockAxis="y"
          cdkDragBoundary=".module-boundary"
        >
          <div class="tools">
            <div cdkDragHandle class="dragHandle">&#10247;</div>
          </div>
          <div class="module">
            <app-module-container (keydown)="handleKeydown($event, i)" [formControlName]="i"></app-module-container>
          </div>
        </div>
      </div>
    </form>
    <div class="buttons">
      <button mat-button (click)="newModule('header')">Add Header</button>
      <button mat-button (click)="newModule('image')">Add Image</button>

      <button mat-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
