.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
}

.module-container {
  width: 690px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #626262;
  font-size: 14px;
  padding: 20px;
  margin: 40px;
  // border: grey solid 1px;
}

.module {
  width: 100%;
}

.module-list {
  min-height: 60px;
  display: block;
  background: white;
  overflow: hidden;
}

.module-handle {
  cursor: move;
}

.module-box:hover .module-handle {
  display: absolute;
  top: 0px;
  left: 0px;
}

.module-box {
  padding: 10px 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;

  display: relative;
}

.horizontal-module-box {
  padding: 10px 5px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  width: 50%;
}

.multiple-modules {
  border: solid 2px #ccc;
  border-radius: 10px;
}

.horizontal-module-list {
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  border: solid 2px #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.singleton-box {
  padding: 10px 5px;
  display: flex;
  min-height: 200px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  width: 100%;
}

.singleton-module-list {
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  overflow: hidden;
}
