[contenteditable=true]:empty:focus:before {
  content: attr(placeholder);
  color: rgba(74, 65, 65, 0.598);
}

.text {
  cursor: text;
  width: 100%;
  height: 100%;
}

.text .editable {
  font-size: 1.3em;
  line-height: 200%;
}

.editable:focus {
  outline: 0;
  width: 100%;
  height: 100%;
}
