.dropdownOverlay {
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.2), 1px 2px 3px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(104, 94, 94, 0.12);
  background-color: red;
}

.body {
  text-align: center;
  border: solid 1px #ccc;
  padding: 10px;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 5px;
  margin: 0;
}

.body p {
  transition: 1s all;
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 0px;
}

.body p:hover {
  transition: 0.2s all;
  color: #2f89fc;
  cursor: pointer;
}

.body > p {
  float: left;
}

.bordered {
  transition: 0.2s all;
  background-color: rgba(169, 169, 169, 0.598);
  border-radius: 5px;
}
