.moduleManager {
  font-size: 1.5em;
  cursor: text;
}

// .addButton {
//   display: none;
// }

.input {
  position: relative;
  margin-bottom: 10px;
}

.input {
  .addButton {
    position:absolute;
    display:inline;
    margin: 0px 0px 0px 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    right:0;
    margin-right: 105%;
  } 
}

.moduleManager:focus {
  outline: 0;
  width: 100%;
  height: 100%;
}